arm_template/linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "formula1-azure1-datafactory"
        },
        "ls_formula1azure1dl_storage_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_formula1azure1dl_storage'"
        },
        "ls_databricks_project_ws_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "0404-230530-bo45sisp"
        },
        "ls_formula1azure1dl_storage_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://formula1azure1dl.dfs.core.windows.net/"
        },
        "tr_process_formula1_data_properties_pipeline_parameters_p_window_end_date": {
            "type": "string",
            "defaultValue": "@trigger().outputs.windowEndTime"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/ls_databricks_project_ws')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-4099723689336690.10.azuredatabricks.net",
                    "authentication": "MSI",
                    "workspaceResourceId": "/subscriptions/d826ca16-fa33-409b-882d-8ff9b9f3dba2/resourceGroups/databricks-rg/providers/Microsoft.Databricks/workspaces/databrickscourse-ws",
                    "existingClusterId": "[parameters('ls_databricks_project_ws_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_formula1azure1dl_storage')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_formula1azure1dl_storage_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_formula1azure1dl_storage_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_formula1_raw')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_formula1azure1dl_storage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@formatDateTime(dataset().p_window_end_date,'yyyy-MM-dd')",
                            "type": "Expression"
                        },
                        "fileSystem": "raw"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_formula1azure1dl_storage')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_ingest_formula1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get folder details",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ds_formula1_raw",
                                "type": "DatasetReference",
                                "parameters": {
                                    "p_window_end_date": {
                                        "value": "@pipeline().parameters.p_window_end_date",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "exists"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "JsonReadSettings"
                            }
                        }
                    },
                    {
                        "name": "If folder exists",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "Get folder details",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@activity('Get folder details').output.exists",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "ingest circuits file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/1.ingest_circuits_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest races file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/2.ingest_races_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest constructors file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/3.Ingest_constructors_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest drivers file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/4.Ingest_drivers_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest results file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/5.Ingest_Results_File",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest pit stps file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/6.Ingest_pit_stop_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest lap times file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/7.Ingest_lap_times_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "ingest qualifying file",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/ingestion/8.Ingest_qualifying_file",
                                        "baseParameters": {
                                            "p_data_source": {
                                                "value": "@variables('v_data_source')",
                                                "type": "Expression"
                                            },
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "variables": {
                    "v_data_source": {
                        "type": "String",
                        "defaultValue": "Ergast"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_formula1_raw')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_databricks_project_ws')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_transform_formula1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get folder details",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ds_formula1_raw",
                                "type": "DatasetReference",
                                "parameters": {
                                    "p_window_end_date": {
                                        "value": "@pipeline().parameters.p_window_end_date",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "exists"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "JsonReadSettings"
                            }
                        }
                    },
                    {
                        "name": "If folder exists",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "Get folder details",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@activity('Get folder details').output.exists",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "trans race results",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/trans/1.race_results",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "trans driver standings",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "trans race results",
                                            "dependencyConditions": [
                                                "Completed"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/trans/3.driver_standings",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "trans constructors standings",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "trans race results",
                                            "dependencyConditions": [
                                                "Completed"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/trans/2.constructors_standings",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                {
                                    "name": "trans calculated race results",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": "/formula1/trans/5.calculate_race_results",
                                        "baseParameters": {
                                            "p_file_date": {
                                                "value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "ls_databricks_project_ws",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "variables": {
                    "v_data_source": {
                        "type": "String",
                        "defaultValue": "Ergast"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_formula1_raw')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_databricks_project_ws')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pl_process_formula1_data')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute ingestion",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pl_ingest_formula1_data",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "p_window_end_date": {
                                    "value": "@pipeline().parameters.p_window_end_date",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "Execute transformation",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Execute ingestion",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "pl_transform_formula1_data",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "p_window_end_date": {
                                    "value": "@pipeline().parameters.p_window_end_date",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "p_window_end_date": {
                        "type": "string"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pl_ingest_formula1_data')]",
                "[concat(variables('factoryId'), '/pipelines/pl_transform_formula1_data')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/tr_process_formula1_data')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "pl_process_formula1_data",
                        "type": "PipelineReference"
                    },
                    "parameters": {
                        "p_window_end_date": "[parameters('tr_process_formula1_data_properties_pipeline_parameters_p_window_end_date')]"
                    }
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 168,
                    "startTime": "2021-03-14T10:00:00Z",
                    "endTime": "2021-04-25T10:00:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 1,
                    "retryPolicy": {
                        "intervalInSeconds": 30
                    },
                    "dependsOn": []
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pl_process_formula1_data')]"
            ]
        }
    ]
}